.pch {
    padding: 18px;

    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.05);

    border-radius: 16px;

    transition: transform 0.2s;

    text-decoration: none;
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: left;
    gap: .6em;
}

.pch:hover {
    transform: scale(1.02);
}

.pch p {
    margin: 0;
}

.pch h3 {
    font-size: 1.4em;
}

.pch-image {
    width: 100%;
    border-radius: 8px;
    aspect-ratio: 2/1;

    object-fit: cover;
}

.pch-tags {
    display: flex;
    align-items: center;
    gap: 1em;
}

.pch-tag {
    padding: .6em .8em;
    background-color: var(--main-color-transparent);
    color: var(--main-color);
    border-radius: 8px;
}