.backButton {
    display: flex;
    align-items: center;
    gap: .2em;
    color: #fff;

    margin-bottom: 2em;
    transition: transform 0.3s ease;
    text-decoration: none;

    position: relative !important;
    z-index: 1002 !important;
}

.backButton:hover {
    cursor: pointer;

    transform: scale(1.01);
    color: var(--main-color);
}