.contact-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1.6em;

    padding: 2.4em;
    width: 100%;
    box-sizing: border-box;

    background: rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group label {
    margin-bottom: .8em;

    font-size: 1em;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: var(--ivory);
}

.contact-form input, .contact-form textarea {
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 1em;

    font-size: 1em;
    color: #fff;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    width: 100%;
    box-sizing: border-box;
}

.contact-form input:hover, .contact-form textarea:hover {
    outline: 1px solid var(--main-color);
}

.contact-form input:focus, .contact-form textarea:focus {
    outline: 1px solid var(--main-color);  
    background-color: var(--main-color-transparent);
}

@media only screen and (max-width: 600px) {
    .contact-form {
        padding: 1em;
        width: 100%;
    }

    .form-group {
        width: 100%;
    }

    .contact-form input, .contact-form textarea {
        padding: 0.8em;
        font-size: 0.9em;
    }
}
