.footer {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);

    color: #fff;
    text-align: center;
    padding: 1rem 2em;
    bottom: 0;
    width: 100%;

    overflow-x: hidden;
  }