.footer {
  background-color: #cfcfc4;

  color: #161616;
  text-align: center;
  padding: 3em 12em;
  bottom: 0;
  width: 100vw;

  overflow-x: hidden;

  text-align: left;
}

.footer h1 {
  font-size: 2em;
  
}

.footer h3 {
  font-weight: 400;
  color: var(--main-color);
}

.copyright {
  margin-top: 4em;
}