:root {
  --background-color: #161616;
  --background-color-light: #212121;
  --main-color: #1db954;
  --main-color-transparent: rgba(29, 185, 84, 0.2);
  --main-light-gray: #A7A7A7;
  --main-dark-transparent: rgba(37, 80, 173, 0.6);
  --ivory: #cfcfc4;
}

body,
html {
  font-family: 'Montserrat', Helvetica, sans-serif;

  margin: 0;
  padding: 0;
  color: #fff;
  height: 100%;

  background-color: var(--background-color);
}

body {
  overflow-x: hidden;
}

.button {
  background-color: var(--main-color-transparent);
  color: var(--main-color);
  
  padding: 1.2em 1.6em;
  border-radius: 8px;

  width: fit-content;

  transition: color 0.3s ease;
  transition: transform 0.3s ease;

  text-decoration: none;
}

.button:hover {
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  transform: scale(1.03);
}

h1 {
  font-size: 3.2em;
  margin: 0;
}

h2 {
  font-size: 1.8em;
  margin: 0;
  font-weight: normal;
}

h3 {
  margin: 0;
}